# Ignore all files using an opt-inn approach
*

# Add .gitignore and .gitattributes
!.gitignore
!.gitattributes

# Add license
!LICENSE.txt

# Add todo list
!ToDo.txt

# Add md files
!*.md

# Add fsx files
!*.fsx

# Add build files
!build.sh
!build.cmd

# Add proc file
!Procfile

# Add devcontainer
!/.devcontainer/
!/.devcontainer/*


# Add local tools config
!/.config/
!/.config/*.json

# Add editor config
!.editorconfig

# Add vscode config
!.vscode/
!.vscode/*.json

# Add github config
!.github/
!.github/*.md


# Add dependencies file
!paket.dependencies
!paket.lock
!paket.references
!paket.template

# Add yml files to ci on appveyor and travis
!appveyor.yml
!.travis.yml

# Add directory build props
!Directory.Build.props

# Add solution file
!*.sln

# Add fsharp project files
!*.fsproj

# Add configurarion files
!App.config

# Add fsharp source files
!*.fs

# Add libs dependencies
!/libs/
!/libs/*.dll

# Add MRDM folder
!/mrdm/
!/mrdm/Export_PICE.csv

# Add source files
!/scripts/
!/src/
!/src/Informedica.PICE.Lib/
!/src/Informedica.PICE.Lib/Scripts/

# Add test files
!/tests/
!/tests/Informedica.PICE.Tests/

