source https://www.nuget.org/api/v2
source https://api.nuget.org/v3/index.json

framework: auto-detect
redirects: on
storage: none

nuget Expecto ~> 9.0
nuget YoloDev.Expecto.TestSdk ~> 0.0
nuget Microsoft.NET.Test.Sdk ~> 16.0
nuget FSharp.Core >= 4.0
nuget Newtonsoft.Json
nuget Markdig
nuget Microsoft.Data.SqlClient
nuget ExcelProvider


